{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'catalogue.css' %}"> 
{% endblock head %}

{% block title %}Catalogue{% endblock title %}

{% block content %}
<div class="top">
<div class="row">            
    <form method="post" class="d-flex recherche">            
        <input class=" me-2" name="cherche" placeholder=" Recherche voiture">
        <button class="btn btnr btn-outline-dark" hx-swap="outerHTML" hx-target="#page"  hx-post="{% url 'cherche-voiture' %}" type="submit">Recherche</button>
    </form> 
</div>
<hr>
    <div class="row">
        {% for voitures in voiture %}
        <div class="col-md-3 carte" >
            <div class="card">
                    <div class="style-dance">                       
                    </div>
                    <div class="card-body text-center">
                        <h2 class="card-title"> {{ voitures.titre }} </h2>
                        
                        <img src="{{ voitures.photo.url }}" class="photo" alt="{ loca.photo.url }}">
                        <hr>
                        <p class="card-text">kilometrage : {{ voitures.kilometrage  }} km</p>
                        <p class="card-adresse ">couleur : {{voitures.couleur }} </p>
                            <p class="card-adresse">marque : {{ voitures.marque }}</p> 
                            <p class="card-adresse">modele : {{ voitures.modele }}</p> 
                            <p class="card-adresse">prix : {{ voitures.prix }} Euros</p> 
                            <p class="card-adresse">type : {{ voitures.typee }}</p> 
                            <p class="card-text">Année : {{ voitures.année }}</p>
                            
                    </div>
            </div>            
        </div>
{% endfor %}

{% endblock content %}

{% block javascript %}{% endblock javascript %}
